<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.immanuelclayton.alphadox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ItKnecActivity" />
        <activity android:name=".ItStPaulActivity" />
        <activity android:name=".ItIntCertificationActivity" />
        <activity android:name=".ItNotificationActivity" />
        <activity android:name=".ItTimetableActivity" />
        <activity android:name=".MedStPaulActivity" />
        <activity android:name=".MedTtableActivity" />
        <activity android:name=".MedNotificationActivity" />
        <activity android:name=".HtmKnecActivity" />
        <activity android:name=".HtmTtableActivity" />
        <activity android:name=".HtmNotificationActivity" />
        <activity android:name=".BusKnecActivity" />
        <activity android:name=".BusTtableActivity" />
        <activity android:name=".BusNotificationActivity"/>
    </application>

</manifest>